---
lang: pl
title: Mieszkanie do wynajęcia - Łódź Widzew, Haška 10
images:
 - src: salon1.jpg
   alt: "Salon"
 - src: salon2.jpg
   alt: "Salon"
 - src: salon3.jpg
   alt: "Salon"
 - src: salon4.jpg
   alt: "Salon"
 - src: pokoja1.jpg
   alt: "Pokój 1"
 - src: pokoja2.jpg
   alt: "Pokój 1"
 - src: pokojb1.jpg
   alt: "Pokój 2"
 - src: pokojb2.jpg
   alt: "Pokój 2"
 - src: lazienka.jpg
   alt: "Łazienka"
   portrait: true
 - src: wc.jpg
   alt: "WC"
   portrait: true
 - src: kuchnia1.jpg
   alt: "Kuchnia"
 - src: kuchnia3.jpg
   alt: "Kuchnia"
 - src: kuchnia2.jpg
   alt: "Kuchnia"
   portrait: true
 - src: korytarz.jpg
   alt: "Korytarz"
   portrait: true
 - src: plan.png
   alt: "Plan"
 - src: render.png
   alt: "Wizualizacja"
resolutions:
 - 3000
 - 1920
 - 1440
 - 1280
 - 800
 - 480
 - 360
---
{% capture body %}
<h1>Mieszkanie do wynajęcia</h1>
<h2>Łódź Widzew, Haška 10</h2>
<p>Ostatnia aktualizacja: 8 kwietnia 2017</p>
<p class="report" id="skrot">Wynajmę <b>3-pokojowe</b> mieszkanie z kuchnią o
  powierzchni <b>61,6 m<sup>2</sup></b>, położone <b>na osiedlu im. Stefana
  Batorego (Widzew Wschód)</b>, niedaleko <b>parku Widzewska Górka</b>.
  Mieszkanie znajduje się na <b>drugim piętrze</b> czteropiętrowego bloku przy
  ulicy <b>Haška 10</b>. Mieszkanie jest w doskonałym stanie, <b>w pełni
  umeblowane i wyposażone</b>, gotowe do zamieszkania i dostępne od zaraz.
  Parking pod blokiem, telewizja kablowa, domofon. <b>1700 zł / mc</b>.</p>
<iframe class="gmap" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWYdw7qzMG0cR1EDZvZ-BzRc&key=AIzaSyBawQgY87ZUOa4Qw1lohNAUKpmHt0gxkVs"></iframe>
<h3>Mieszkanie</h3>
<ul class="report" id="mieszkanie">
  <li>3 pokoje z osobną kuchnią, łazienką, WC i pomieszczeniem gospodarczym,
    61,6 m<sup>2</sup></li>
  <li>drugie piętro (z czterech) w bloku z lat 70-tych</li>
  <li><b>w doskonałym stanie</b></li>
  <li><b>pełne wyposażenie kuchni</b> (kuchenka gazowa, zmywarka, lodówka,
    mikrofalówka, naczynia i sztućce)</li>
  <li><b>pełne wyposażenie łazienki</b> (wanna z prysznicem, pralka, umywalka)
    i WC (toaleta z umywalką)</li>
  <li><b>w pełni umeblowane pokoje</b> (kino domowe, fotele, stoły, wersalki,
    szafy, regały, dywany, zasłony)</li>
  <li><b>szafy przesuwne</b>, pomieszczenie gospodarcze</li>
  <li><b>sprzęt RTV, Hi-Fi, IT</b> (dwa telewizory, kino domowe z BluRay,
    akcesoria komputerowe, telefon bezprzewodowy)</li>
  <li>instalacja telefoniczna i telewizji kablowej, można łatwo zamówić
    Internet</li>
  <li>przynależna komórka w piwnicy, domofon</li>
  <li>balkon z widokiem na obszar zieleni i panoramę miasta</li>
</ul>
<h3>Okolica</h3>
<p>Poniższe odległości to rzeczywiste odległości przejścia lub przejazdu:</p>
<ul class="report" id="okolica">
  <li>komunikacja publiczna
    <ul>
      <li><b>350 m do przystanku tramwajowego</b> (linie 3, 8, 13)</li>
      <li>2 km (lub 3 przystanki tramwajowe) do stacji Łódź Widzew</li>
    </ul>
  </li>
  <li>zakupy
    <ul>
      <li><b>150 m do sklepu spożywczego</b> (Intermarché)</li>
      <li>300 m do Biedronki</li>
      <li>600 m do Kauflandu</li>
      <li>700 m do Tesco i Domu Handlowego Batory</li>
      <li>4 km do centrum handlowego Tulipan (Real, Castorama)</li>
    </ul>
  </li>
  <li>zdrowie i rekreacja
    <ul>
      <li>150 m do apteki</li>
      <li><b>200 m do parku Górka Widzewska</b></li>
      <li>650 m do centrum fitness</li>
      <li>650 m do przychodni</li>
    </ul>
  </li>
  <li>dzieci i nauka
    <ul>
      <li>300 m do przedszkola, Gimnazjum nr 35 i XLVII Liceum
        Ogólnokształcącego</li>
      <li>450 m do Szkoły Podstawowej im. Tuwima</li>
      <li>600 m do żłobka</li>
    </ul>
  </li>
</ul>
<h3>Opłaty</h3>
<ul class="report" id="oplaty">
  <li>Odstępne: <b>1700 zł / mc</b></li>
  <li>Opłaty stałe: 300 zł / mc (<b>w tym gaz</b>)</li>
  <li>Centralne ogrzewanie: około 65 zł / mc</li>
  <li>Media <b>wg liczników</b>: prąd, woda</li>
  <li>Odpady komunalne</li>
</ul>
<h3>Warunki</h3>
<ul class="report" id="warunki">
  <li>Mieszkanie dostępne od zaraz</li>
  <li>Umowa na 3 lata z automatycznym przedłużeniem lub do uzgodnienia</li>
  <li>Kaucja: 2500 zł</li>
  <li>Zezwolenie na sprawdzenie danych w Biurze Informacji Kredytowej i Biurach
    Informacji Gospodarczej</li>
</ul>
<h3>Kontakt</h3>
<ul class="report" id="kontakt">
  <li>Telefon: <b>609 794 959</b></li>
</ul>
<table class="photos report" id="zdjecia">
{% tablerow image in page.images cols:2 %}
  <div class="{% if image.portrait %}portrait{% else %}landscape{% endif %}">
    <a href="{{page.resolutions[0]}}/{{image.src}}" onclick="return zoom(this)">
      <i class="material-icons">&#xE8FF;</i>
      {% include multires-img.html src=image.src alt=image.alt
         sizes="(max-width: 48em) 50vw, 24em" resolutions=page.resolutions
         default="800" %}
    </a>
  </div>
{% endtablerow %}
</table>
{% endcapture %}{% include page.html page=page body=body %}
