body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  margin: 2em 1em 5em 1em;
}
div.content {
  max-width: 48em;
  margin: 0 auto 0 auto;
  color: #222;
}
h1 {
  color: darkgreen;
}
h2, h3 {
  color: forestgreen;
}
a {
  color: forestgreen;
}
a:visited {
  color: #040;
}
.green {
  color: forestgreen;
}

iframe.gmap {
  width: 98%;
  height: 24em;
  max-height: 90vh;
  border: 1px solid lightgray;
  margin: 1em 0;
}

table.photos {
  width: 98%;
  border: none;
  border-collapse: collapse;
}
table.photos td {
  border: solid 1em white;
}
table.photos td.col1 {
  border-left: none;
}
table.photos td.col2 {
  border-right: none;
}
table.photos a {
  position: relative;
  display: block;
}
table.photos div.portrait {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
table.photos div.portrait a {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}
table.photos a i.material-icons {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10em;
  text-shadow: 0 0 0.1em black;
  visibility: hidden;
  z-index: 1;
}
table.photos a:hover i.material-icons {
  visibility: visible;
}
@media (hover: none), (hover: on-demand) {
  table.photos a:hover i.material-icons {
    visibility: hidden;
  }
}
table.photos img {
  max-width: 100%;
  max-height: 100%;
}
