<form markdown="0" action="{{"/form.html" | relative_url}}" target="form-target">
  <iframe name="form-target"></iframe>
  <fieldset>
    <legend>Dane kontaktowe do odpowiedzi</legend>
    <div class="flex">
      <input type="text" name="kontakt" placeholder="Telefon lub e-mail">
      <input type="text" name="osoba" placeholder="Imię lub nazwisko">
    </div>
  </fieldset>
  <fieldset>
    <legend>Wiadomość</legend>
    <textarea name="wiadomosc" placeholder="Pytania lub uwagi"></textarea>
  </fieldset>
  <input id="form-send" type="submit" value="Wyślij wiadomość &raquo;" class="report-clicks">
</form>
