<form markdown="0" action="{{"/form.html" | relative_url}}" target="kontakt-target">
  <iframe name="kontakt-target"></iframe>
  <fieldset>
    <legend>Zostaw numer, <strong>oddzwonię</strong></legend>
    <div class="flex">
      <input type="text" name="kontakt" placeholder="Telefon lub e-mail">
      <input id="kontakt-submit" type="submit" value="Wyślij »"
       data-pending="Wysyłam…" data-success="Wysłane"
       data-failure="Ponów »" data-empty="Wyślij »"
       class="report-clicks">
    </div>
  </fieldset>
</form>
