<form markdown="0" action="{{"/form.html" | relative_url}}" target="wiadomosc-target">
  <iframe name="wiadomosc-target"></iframe>
  <fieldset>
    <legend>Dane kontaktowe do odpowiedzi</legend>
    <div class="flex">
      <input type="text" name="kontakt" placeholder="Telefon lub e-mail">
      <input type="text" name="osoba" placeholder="Imię lub nazwisko">
    </div>
  </fieldset>
  <fieldset>
    <legend>Wiadomość</legend>
    <textarea name="wiadomosc" placeholder="Pytania lub uwagi"></textarea>
  </fieldset>
  <input id="wiadomosc-submit" type="submit" value="Wyślij »"
   data-pending="Wysyłam…" data-success="Wiadomość wysłana"
   data-failure="Spróbuj ponownie »" data-empty="Wyślij »"
   class="report-clicks">
</form>
