<!DOCTYPE html>
<html{% if include.page.lang %} lang="{{include.page.lang}}"{% endif %}>
<head>
<meta charset="UTF-8">
<title>{{include.page.title}}</title>{% if include.page.description %}
<meta name="description" content="{{include.page.description}}">{% endif %}
<link rel="canonical" href="{{include.page.url | absolute_url}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{"/main.css" | relative_url}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script>
{% include analytics.js %}</script>{% if include.page.google-site-verification %}
<meta name="google-site-verification" content="{{include.page.google-site-verification}}">{% endif %}
<script async src="{{"/analytics-heartbeat.js" | relative_url}}"></script>
<script defer src="{{"/analytics-visibility.js" | relative_url}}"></script>
<script async src="{{"/image-zoom.js" | relative_url}}"></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
</head>
<body>
<div class="content">
{{include.body}}</div>
</body>
</html>
